@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Main Color */
  --green-500: #2f4f4f;
  --green-300: #3b6b6b;
  --green-100: #dce7e7;
  --golden: #c5a46d;

  /* Base Color */
  --black: #000000;
  --white: #ffffff;
  --text: #1a1a1a;
  --grey-100: #cfd4d4;
  --grey-300: #8a8f8f;
  --success: #5ca65c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-castoro: var(--font-castoro);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    /* Main Color */
    --green-500: #243831;
    --green-300: #2b5f44;
    --green-100: #d8e9e4;
    --golden: #c5a365;

    /* Base Color */
    --black: #000000;
    --white: #ffffff;
    --text: #191919;
    --grey-100: #bbc2c0;
    --grey-300: #939494;
    --success: #49a569;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, sans-serif;
}

/* Font Classes */
.font-castoro {
  font-family: var(--font-castoro), serif;
}

.font-inter {
  font-family: var(--font-inter), Arial, sans-serif;
}

/* Color Classes for Main Colors */
.green-500 {
  color: var(--green-500);
}

.bg-green-500 {
  background-color: var(--green-500);
}

.green-300 {
  color: var(--green-300);
}

.bg-green-300 {
  background-color: var(--green-300);
}

.green-100 {
  color: var(--green-100);
}

.bg-green-100 {
  background-color: var(--green-100);
}

.golden {
  color: var(--golden);
}

.bg-golden {
  background-color: var(--golden);
}

/* Color Classes for Base Colors */
.black {
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
}

.white {
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
}

.text-color {
  color: var(--text);
}

.bg-text {
  background-color: var(--text);
}

.grey-100 {
  color: var(--grey-100);
}

.bg-grey-100 {
  background-color: var(--grey-100);
}

.grey-300 {
  color: var(--grey-300);
}

.bg-grey-300 {
  background-color: var(--grey-300);
}

.success {
  color: var(--success);
}

.bg-success {
  background-color: var(--success);
}

/* Default Theme Classes */
.bg-default {
  background-color: var(--background);
}

.text-default {
  color: var(--foreground);
}
