@import "tailwindcss";
@tailwind utilities;

:root {
  --primary-color: #3b82f6;
  --secondary-color: #6b7280;
  --background-color: #f3f4f6;
  --text-color: #1f2937;
  --light-color: #f9fafb;
  --dark-color: #111827;
  --error-color: #ef4444;
  --success-color: #10b981;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #3b82f6;
    --secondary-color: #9ca3af;
    --background-color: #1f2937;
    --text-color: #f9fafb;
    --light-color: #374151;
    --dark-color: #f3f4f6;
    --error-color: #ef4444;
    --success-color: #10b981;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
